*, *::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #ffffff;
  background-color: #849d8f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.display-none {
  display: none;
}

a {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1140px;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper::after {
  background-image: url("../img/slide-1.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-2.png");
}

.main-header {
  z-index: 10;
  padding-top: 10px;
}

.header-logo {
  margin-right: -5px;
}

.main-navigation {
  margin-bottom: 10px;
}

.navigation-list,
.dropdown-list{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}

.navigation-dropdown-active {
  position: relative;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  width: 148px;
  padding-bottom: 2px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-list::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 0;
  width: 100%;
  height: 17px;
  background-color: transparent;
}

.dropdown-active .dropdown-link {
  background-color: #d07058;
}

.navigation-list > li:hover .dropdown-list {
  z-index: 1;
  display: block;
}

.dropdown-item-current .dropdown-link {
  background-color: #d07058;
}

.navigation-active .navigation-link {
  background-color: #d07058;
  text-decoration: none;
}

.navigation-active::after {
  position: relative;
  top: 0;
  left: 0;
  height: 5px;
  width: 150px;
  background-color: transparent;
}

.navigation-link{
  display: block;
  padding: 10px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-decoration: underline #adc4b7;
  text-decoration: underline #adc4b7;
}

.navigation-link:hover {
  text-decoration: none;
}

.dropdown-link {
  display: block;
  padding: 7px 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.dropdown-link:hover {
  color: #e84d37;
}

.dropdown-link:active {
  color: #e84d37;
}

.new .dropdown-text {
  display: block;
  padding: 7px 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}

.navigation-item--current .navigation-link {
  background-color: #d07058;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #000000;
  background-color: #f7f6f3;
}

.navigation-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 1px 3px 1px 0px #696969;
  box-shadow: inset 1px 3px 1px 0px #696969;
}

.dropdown-link:hover {
  background-color: #fbded7;
}

.link-custom:hover {
  color: #ffbc9e;
}

.link-custom:active {
  color: #ffbc9e;
}

.dropdown-link:active {
  background-color: #f6b5a5;
}

.header-search {
  position: relative;
}

.search-loupe svg {
  margin-top: 3px;
  padding: 8px;
  padding-bottom: 4px;
  background-color: #a1b4a9;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.search-loupe svg:hover {
  background-color: #f8f7f4;
}

.search-loupe svg:hover path {
  fill: #000000;
}

.search-form{
  display: none;
  position: absolute;
  left: -200px;
  top: 41px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 3px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.input-custom {
  padding: 10px 15px;
  color: #323232;
  text-transform: capitalize;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.input-custom:focus .search-text {
  display: block;
  border-color: #cfe1f3;
}

.input-custom:hover {
  border-color: #e6e5e3;
}

.header-search:hover .search-form {
  display: block;
}

.user-block-login {
  position: relative;
}

.form-login {
  z-index: 2;
  display: none;
  position: absolute;
  top: 44px;
  left: -187px;
  padding: 20px;
  width: 290px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-block-login:hover .form-login {
  display: block;
}

.login-field {
  position: relative;
  width: 240px;
  margin-bottom: 20px;
}

.login-field::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: red;
}

.login-text {
  margin: 0;
  padding: 0;
}

.user-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
}

.icon-login,
.icon-basket{
  display: block;
  position: relative;
  padding: 9px 11px;
  padding-left: 44px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 100px;
  background-color: #a1b4a9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.icon-basket {
  padding-right: 32px;
}

.icon-basket-active {
  padding: 8px 0;
  padding-left: 42px;
  padding-right: 20px;
}

.icon-login {
  position: relative;
}

.svg-icon-login {
  position: absolute;
  left: 14px;
  top: 6px;
}

.svg-icon-login path {
  fill: #ffffff;
}

.icon-login:hover path  {
  fill: #000000;
}


.user-block-basket {
  position: relative;
}

.user-block-table:hover .table-basket {
  display: block;
}

.icon-basket::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 6px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
}

.icon-basket-active {
  background-color: #f7f6f3;
  color: #000000;
}

.icon-basket-active:hover .table-basket {
  display: block;
}

.icon-basket-active:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 6px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
}

.user-block-table {
  position: relative;
}

.icon-login:hover {
  color: #000000;
  background-color: #f8f7f4;
}

.form-login {
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-field {
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.information {
  margin-right: -5px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #f26743;
  background-image:  -webkit-linear-gradient(top, #f26743 0%, #e74035 100%);
  background-image:  -webkit-gradient(linear, left top, left bottom, from(#f26743), to(#e74035));
  background-image:  -o-linear-gradient(top, #f26743 0%, #e74035 100%);
  background-image:  linear-gradient(to bottom, #f26743 0%, #e74035 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  border-radius: 100px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);;
}

.btn:active {
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -o-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 rgb(148,39,24);
  box-shadow: inset 0 2px 2px 0 rgb(148,39,24);
}

.lost-password {
  color: #000000;
  -webkit-text-decoration: underline #e9e8e5;
  text-decoration: underline #e9e8e5;
}

.table-basket {
  display: none;
  position: absolute;
  top: 45px;
  left: -436px;
  width: 570px;
  padding: 20px;
  padding-right: 13px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.table-text-right {
  text-align: right;
}

.delete {
  margin-right: 5px;
  font-size: 0;
  position: relative;
}

.delete:hover {
  opacity: 0.5;
}

.delete::before,
.delete::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -15px;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.delete::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.price {
  color: #999999;
}

.total-price {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
}

.work-time {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  margin-bottom: 34px;
  padding-top: 276px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.btn-big {
  min-width: 278px;
  padding: 12px 40px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 4px;
  z-index: 10;
  font-size: 0;
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"]{
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244,0.4);
}

.raspberry-bg {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.chocolate-bg {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.action {
  margin-bottom: 38px;
}

.action-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}

.action-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.action-description {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.products-height {
  margin-bottom: 51px;
}

.products-item {
  position: relative;
  padding: 9px 13px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.products-item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 11px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.products-item::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  display: none;
  min-height: 405px;
  left: -13px;
  position: absolute;
  top: -6px;
  bottom: -40px;
  width: 293px;
  opacity: 0.5;
  z-index: 2;
}

.products-item:hover::after {
  display: block;
}

.catalog .products-item::before {
  content: "";
  background: none;
}

.price-products {
  margin: 0;
  margin-top: -59px;
  margin-left: -113px;
  padding: 0;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.products-height .price-products {
  margin-left: -104px;
}

.products-kg {
  position: relative;
  padding-right: 40px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.products-kg::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 4px;
  width: 30px;
  height: 35px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
}

.products-description {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  text-align: center;
}

.products-height .products-description {
  margin-top: 27px;
}

.products-link {
  display: block;
  padding-bottom: 20px;
}

.action-item .btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fest-view {
  width: 220px;
  display: none;
  position: absolute;
  left: 31px;
  bottom: -27px;
}

.products-item:hover .fest-view {
  display: block;
}

.fest-view {
  z-index: 5;
  font-size: 18px;
  line-height: 24px;
}

.products-link {
  color: #ffffff;
}

.features {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 22px;
  padding: 25px 20px;
  color: #000000;
  background-image: url("../img/features-background.jpg");
  background-repeat: repeat;
  border-radius: 14px;
}

.features-item {
  position: relative;
  margin-top: 23px;
  margin-bottom: -2px;
  padding-left: 60px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 3px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.icon-cow::before {
  content: "";
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.icon-eco::before {
  content: "";
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.icon-thermometer::before {
  content: "";
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-description {
  margin: 0;
  padding: 0;
}

.post {
  min-height: 220px;
  margin-top: 16px;
  padding: 25px 20px;
  background-image: url("../img/post-bg.png");
  background-repeat: repeat;
  background-size: cover;
  border-radius: 10px;
}

.post-new {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  color: #000000;
}

.post-description {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.post-description:hover {
  color: #e84d37;
}

.subscribe {
  min-height: 220px;
  margin-top: 16px;
  padding: 5px;
  padding-left: 7px;
  background-color: #f9eae5;
  background-image: url("../img/bg-post.svg");
  border-radius: 10px;
}

.subscribe-form {
  padding: 30px 20px;
  padding-bottom: 34px;
  background-color: #f8f7f4;
  color: #000000;
  border-radius: 10px;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.subscribe-email {
  width: 100%;
  border:  1px solid #d3d3d2;
  border-radius: 3px;
}

.maps .container{
  position: relative;
}

.contacts {
  z-index: 10;
  position: absolute;
  width: 301px;
  bottom: 75px;
  right: 10px;
  padding: 25px 26px;
  color: #000000;
  background: #ffffff;
  border-radius: 15px;
}

.contacts-title {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 20px;
}

.contacts-adress {
  font-size: 18px;
  line-height: 24px;
}

.order-telefone {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 11px;
  padding: 0;
}

.btn-recall {
  width: 255px;
}

.main-footer {

  padding: 23px 25px;
}

.main-footer-margin {
  margin-top: 28px;
}

.social {
  margin-top: 20px;
  font-size: 0;
}

.social-link {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  color: #e6ebe9;
  background-color: #dbe2df;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-link-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.social-link-inst {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-link-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-link-vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.social-link:hover {
  background-color: #cad5cf;
}

.social-link:active {
  background-color: #e9e9e9;
  border-color: #c6d1cb;
}

.about {
  margin-top: 18px;
  margin-left: -20px;
}

.about-item.about-item-iconed {
  position: relative;
  padding-left: -4px;
}

.about-item-iconed::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -3px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.about-list {
  padding: 0;
  list-style-type: none;
}

.about-item {
  font-size: 13px;
  line-height: 18px;
}

.about-link {
  display: inline-block;
  padding-left: 8px;
  padding-right: 22px;
  padding-bottom: 8px;
  color: #ffffff;
  -webkit-text-decoration: underline #9db1a5;
  text-decoration: underline #9db1a5;
}

.about-link:last-child {
  padding-right: 0;
}

.about-link-right {
  padding-right: 32px;
}

.main-footer {
  padding: 10px 25px;
}

.text-copyright {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-link {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-logo {
  margin-left: 6px;
  font-size: 0;
}

.footer-logo img {
  width: 108px;
  height: 39px;
}

.breadcrumbs {
  margin-top: -18px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 15px;
  margin-right: 10px;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child):after {
  content: "»";
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  -webkit-text-decoration: underline #aebeb5;
  text-decoration: underline #aebeb5;
}

.heading-title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.filter-block {
  margin-bottom: -27px;
}

.filter-item {
  margin-top: -15px;
}

.filter-form {
  margin-bottom: 40px;
}

.filter-title {
  display: block;
  margin-bottom: 6px;
  padding: 0 23px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-shadow {
  padding: 10px 15px;
  background-color: #aabab0;
  border-radius: 100px;
}

.filter-select-custom {
  position: relative;
  margin-left: 10px;
  width: 93%;
  padding: 10px 15px;
  background-color: #aabab0;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 173px center;
  border: none;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-select-custom::-ms-expand {
  display: none;
}

.filter-range {
  padding: 9px 0;
}

.filter-range {
  position: relative;
  top: -9px;
  border-bottom: 4px solid #e8ebe7;
}

.filter-range-btn {
  width: 22px;
  height: 20px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.filter-range-right {
  position: absolute;
  top: 8px;
  right: 45px;
  width: 22px;
  height: 20px;
}

.filter-range-left {
  position: absolute;
  top: 9px;
  left: 19px;
}

.filter-item-width {
  min-width: 213px;
}

.filter-shadow .custom-radio,
.filter-shadow .custom-checkbox{
  display: none;
}

.filter-radio-text .custom-radio + .indicator-radio {
  position: absolute;
  top: -2px;
  left: 4px;
  width: 22px;
  height: 22px;
  border: 4px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.filter-radio-text .custom-radio + .indicator-radio:disabled {
  background-color: rgba(255,255,255,0.4);
}


.filter-radio-text .custom-radio + .indicator-radio:hover {
  border-color: rgba(255,255,255,1);
}

.indicator-radio {
  position: relative;
}

.filter-radio-text .custom-radio:checked + .indicator-radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.filter-checkbox-text {
  position: relative;
}

.filter-checkbox-text .custom-checkbox + .indicator-checkbox {
  position: absolute;
  top: 0;
  left: 7px;
  width: 24px;
  height: 20px;
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 3px;
}

.filter-checkbox-text .custom-checkbox + .indicator-checkbox:disabled {
  background-color: rgba(255,255,255,0.4);
}

.filter-checkbox-text .custom-checkbox + .indicator-checkbox:hover {
  border-color: rgba(255,255,255,1);
}

.indicator-checkbox {
  position: relative;
}

.indicator-checkbox:hover {
}

.filter-checkbox-text .custom-checkbox:checked + .indicator-checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-field {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #aabab0;
}

.filter-field {
  border: none;
}

.filter-field-hover:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-radio-width {
  width: 419px;
}

.filter-radio-text,
.filter-checkbox-text{
  padding-left: 33px;
  padding-right: 11px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter-checkbox-text {
  padding-right: 18px;
}

.filter-radio-text:last-child {
  padding-right: 0;
}

.filter-radio-text {
  position: relative;
}

.filter-submit{
  font: inherit;
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  padding: 7px 27px;
  color: #ffffff;
  background-color: #a6b7ae;
  border: 2px solid #ffffff;
  border-radius: 100px;
  outline: none;
}

.filter-submit:hover,
.filter-submit:focus{
  color: #000000;
  background-color: #fbfcfb;
  border: 2px solid transparent;

}

.filter-submit:active {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.paginator {
  margin-bottom: 34px;
}

.paginator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.paginator-link,
.paginator-page--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 26px;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}

.paginator-page--active {
  background-color: #ffffff;
  color: #000000;
}

.pagination-btn {
  position: relative;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.prev::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 184px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.next::before {
  content: "";
  position: absolute;
  right: 184px;
  top: 8px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(-181deg);
  -ms-transform: rotate(-181deg);
  transform: rotate(-181deg);
}
.pagination-left {
  margin-left: auto;
}

.paginator-link:hover {
  background-color: #9db1a5;
}

.pagination-link:active {
  color: #000;
  background-color: #ffffff;
}

.paginator-link:active {
  background-color: #ffffff;
}

.paginator-link:hover {
  color: #ffffff;
  background-color: #9db1a5;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;

  padding: 0;
  list-style-type: none;
}

.row li {
  padding: 0 5px;
}

.dropdown-list li {
  padding: 0;
}

.user-row {
  margin: 0 -11px;
}

.user-row li {
  padding: 0 5px;
  margin-top: -2px;
}

.user-row li:first-child {
  margin-top: -4px;
}

.user-row-width li {
  padding: 0 4px;
}

.user-left-row {
  margin: 0 -20px;
}

.user-left {
  margin-left: auto;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
  margin-top: -6px;
}

.user-form-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-form-row li {
  padding: 0;
}

.action-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -9px;
}

.action-row li {
  width: 50%;
  padding: 0 10px;
}

.products-row {
  margin: 0 -15px;
}

.products-row li {
  width: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.features-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -13px;
}

.features-row li {
  width: 50%;
  padding: 0 13px;
}

.row-post {
  margin: 0 -13px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-post > li {
  width: 50%;
  padding: 0 13px;
}

.subscribe-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -7px;
}

.subscribe-row li {
  padding: 0 7px;
}

.subscribe-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products-row--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-row {
  width: 76%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -8px;
}

.filter-row li {
  padding: 0;
  margin-bottom: 21px;
}

.pagination-row {
  margin: 0 -6px;
}

.pagination-row li {
  padding: 0 1px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.overlay-show {
  display: block;
}

.modal-content {
  z-index: 20;
  position: fixed;
  top: 37%;
  left: 50%;
  display: none;
  width: 485px;
  margin-left: -236px;
  padding: 16px 30px;
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }

  80% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }

  80% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.modal-show {
  display: block;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

.modal-error {
  -webkit-animation-name: error;
  animation-name: error;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}


.modal-content-close {
  position: absolute;
  top: 10px;
  right: 19px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content-close:hover {
  opacity: 0.5;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -1px;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-form .input-custom {
  width: 267px;
  margin-bottom: 20px;
}

.feedback-title {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-description {
  min-height: 167px;
  margin-bottom: 20px;
  padding: 20px 15px;
  color: #323232;
  text-transform: capitalize;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;
  overflow: hidden;

}

.feedback-description:hover {
  border-color: #e6e5e3;
}

.btn-feedback {
  width: 140px;
  margin-bottom: 10px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.map{
  z-index:1;
  width: 100%;
}

























